.Header {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  box-shadow: 0px 5px 15px 0px #00000017;
}

.Header-Logo img {
  height: 45px;
  margin-left: -2px;
}

@media (max-width: 577px) {
  .Header-Logo img {
    height: 38px;
    margin-left: -2px;
  }
}

.Desktop-Navigations {
  display: flex;
  align-items: center;
}

.deactive-route {
  font-family: "R2";
  text-decoration: none;
  font-size: 14px;
  color: rgb(124, 124, 124);
}

.active-route {
  font-family: "R2";
  text-decoration: none;
  font-size: 14px;
  color: rgb(27, 171, 200);
}

.deactive-route:hover {
  font-family: "R2";
  text-decoration: none;
  font-size: 14px;
  color: rgba(122, 122, 122, 0.582);
}
/* '''' */
.deactive-route-m {
  font-family: "R3";
  text-decoration: none;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.596);
}

.active-route-m {
  font-family: "R2";
  text-decoration: none;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.deactive-route-m:hover {
  font-family: "R3";
  text-decoration: none;
  font-size: 14px;
  color: #71def3;
}

.Toggle-button {
  border-style: none;
  background-color: rgba(10, 111, 134, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -9px;
}

.Toggle-button i {
  font-size: 34px;
  color: rgb(10, 112, 134);
}

.rotate-180 {
  transform: rotate(180deg);
}

.Desktop-Navigations-mobile {
  display: flex;
  flex-direction: column;
  z-index: 90;
}

.Collapsed {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
  background-color: #096073;
}

.Expanded {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  height: 324px;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
  background-color: #096073;
  box-shadow: 0px 5px 5px 0px #00000033;
}

.expand-back {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.expand-back img {
  width: 220px;
  opacity: 50%;
  margin-bottom: -15px;
}
