.ind-info-des {
  font-family: "R4";
  color: black;
}

.Ind-Img img {
  width: 40px;
}

.ind-head {
  font-family: "R2";
  color: rgb(0, 0, 0);
  font-size: 15px;
}

.info-ind-main {
  font-family: "R2";
  color: rgb(52, 52, 52);
}
