.BookingIntro {
  background-image: url(../../../../assets/images/booking/bookingTop.jpg);
  background-size: cover;
}

.Booking-Background {
  background-color: rgba(0, 0, 0, 0.641);
}

.Booking-Background p {
  font-family: "R4";
  color: rgb(255, 255, 255);
}

.Booking-Background h5 {
  font-family: "R3";
  color: rgb(142, 224, 240);
}
