.Contact-Us {
  background-color: rgba(12, 138, 166, 0.133);
  overflow-y: hidden;
}

.Form-Fields label {
  font-size: 13px;
  font-family: "R3";
}

.field-input {
  outline: none;
  height: 37px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: rgba(10, 113, 136, 0.288);
  padding-left: 10px;
  font-family: "R3";
}

.text-area {
  outline: none;
  height: 100px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: rgba(10, 113, 136, 0.288);
  padding-left: 10px;
  font-family: "R3";
  padding-top: 6px;
}

.field-input::placeholder {
  font-family: "R4";
  color: rgb(159, 159, 159);
  font-size: 14px;
}

.text-area::placeholder {
  font-family: "R4";
  color: rgb(159, 159, 159);
  font-size: 14px;
}

.Form-Fields button {
  border-style: none;
  background-color: rgb(9, 101, 122);
  font-family: "R3";
  font-size: 14px;
  height: 32px;
  color: rgb(255, 255, 255);
  border-radius: 3px;
}

.con-des-p {
  font-family: "R4";
  color: black;
}

.contact-side-back-img-1 {
  height: 100%;
  width: 100%;
  background-image: url(../../../assets/images/common/imgOne.jpg);
  background-size: cover;
  background-position: top;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.contact-side-back-img-2 {
  height: 100%;
  width: 100%;
  background-image: url(../../../assets/images/common/imgTwo.jpg);
  background-size: cover;
  background-position: top;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.contact-side-back-img-3 {
  height: 100%;
  width: 100%;
  background-image: url(../../../assets/images/common/wtsappBack.jpg);
  background-size: cover;
  background-position: top;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.contact-side-back-img-3 img {
  width: 50px;
  margin-bottom: 10px;
}

.contact-side-back-img-3 a {
  font-family: "R3";
  font-size: 14px;
  color: aliceblue;
  text-decoration: none;
  text-align: center;
}

.contact-side-back-img-3 a:hover {
  text-decoration: underline;
  color: rgb(113, 222, 243);
}

.align-c-back {
  background-color: rgba(0, 0, 0, 0.438);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.form-error {
  font-family: "R4";
  font-size: 12px;
  color: rgb(255, 34, 34);
}
