.Hero {
  background-color: rgba(12, 141, 167, 0.099);
}

.Hero2 {
  background-color: rgb(10, 112, 134);
}

.Hero3 {
  background-color: rgb(147, 202, 213);
}

.Hero-Main-Title {
  font-family: "R1";
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px rgb(231, 244, 246);
}

.Hero-Sub-Title {
  font-family: "R4";
  color: rgb(86, 86, 86);
  text-shadow: 1px 1px 1px rgb(231, 244, 246);
}

.Hero2-Main-Title {
  font-family: "R1";
  color: rgb(0, 190, 228);
  text-shadow: 1px 1px 1px rgb(10, 112, 134);
}

.Hero2-Sub-Title {
  font-family: "R4";
  color: rgba(255, 255, 255, 0.778);
  text-shadow: 1px 1px 1px rgb(10, 112, 134);
}

.Hero2-Main-Title span {
  color: rgba(255, 255, 255, 0.882);
}

.Hero3-Main-Title {
  font-family: "R1";
  color: rgb(0, 98, 120);
  text-shadow: 1px 1px 1px rgb(115, 194, 210);
}

.Hero3-Sub-Title {
  font-family: "R4";
  color: #005060;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

.Hero3-Main-Title span {
  color: rgb(228, 250, 255);
}

.Hero-Main-Title span {
  color: rgb(12, 140, 167);
}

.Hero-Image {
  height: 500px;
}

.Icon-Rounder-header {
  height: 36px;
  width: 36px;
  border-radius: 100%;
  background-color: rgb(12, 140, 167);
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(231, 244, 246);
}

.Icon-Rounder-header i {
  color: rgb(255, 255, 255);
}

.Hero-Content-Main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
