.Hero2 {
  background-color: rgb(10, 112, 134);
}

.Hero-Main-Title {
  font-family: "R1";
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 2px rgb(231, 240, 242);
}

.Hero-Sub-Title {
  font-family: "R4";
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 2px rgb(231, 240, 242);
}

.Hero2-Main-Title {
  font-family: "R1";
  color: rgb(0, 190, 228);
  text-shadow: 1px 1px 2px rgb(10, 112, 134);
}

.Hero2-Sub-Title {
  font-family: "R4";
  color: rgba(255, 255, 255, 0.778);
  text-shadow: 1px 1px 2px rgb(10, 112, 134);
}

.Hero2-Main-Title span {
  color: rgba(255, 255, 255, 0.882);
  text-shadow: 1px 1px 2px rgb(10, 112, 134);
}

.Hero3-Main-Title {
  font-family: "R1";
  color: rgb(87, 185, 207);
  text-shadow: 1px 1px 2px rgb(2, 50, 63);
}

.Hero3-Sub-Title {
  font-family: "R4";
  color: #ffffffcc;
  text-shadow: 1px 1px 2px rgb(2, 50, 63);
}

.Hero3-Main-Title span {
  color: rgb(208, 228, 232);
  text-shadow: 1px 1px 2px rgb(2, 50, 63);
}

.Hero-Main-Title span {
  color: rgb(12, 140, 167);
  text-shadow: 1px 1px 2px rgb(231, 240, 242);
}

.Hero-Image {
  height: 500px;
}

.Hero-Content-Main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Hero-Content-Main-x {
  height: 500px;
  background-image: url(../../../../assets/images/home/heroImg.webp);
  background-size: cover;
}

.Hero-Content-Main-y {
  height: 500px;
  background-image: url(../../../../assets/images/home/heroXt.webp);
  background-size: cover;
  background-position: right;
}
