.SapBOne {
  background: linear-gradient(to bottom, rgb(240, 240, 240), #ffffff);
}

.sap-description {
  font-family: "R4";
  color: black;
}

.b1Logo {
  width: 150px;
}

.b1Img {
  width: 200px;
}

.b1Img-New {
  width: 350px;
}

.SapBOne a {
  text-decoration: none;
  font-family: "R3";
  font-size: 15px;
  color: rgba(12, 141, 167, 0.784);
}

.main-t-all {
  font-family: "R2";
  color: rgb(50, 50, 50);
}

.SapBOne a:hover {
  color: rgb(10, 112, 134);
}

.b1ImgHome {
  width: 350px;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .b1ImgHome {
    width: 100%;
    border-radius: 4px;
  }

  .b1Img-New {
    width: 250px;
  }
}
