.SapS4Hana {
  background: linear-gradient(to top, rgb(240, 240, 240), #ffffff);
  border-top-style: solid;
  border-top-width: 2px;
  border-color: rgb(240, 240, 240);
}

.sap-description {
  font-family: "R4";
  color: black;
}

.b1Logo {
  width: 150px;
}

.b1Img-s4 {
  width: 250px;
}

.SapS4Hana a {
  text-decoration: none;
  font-family: "R3";
  font-size: 15px;
  color: rgba(12, 141, 167, 0.784);
}

.main-t-all {
  font-family: "R2";
  color: rgb(50, 50, 50);
}
.SapS4Hana a:hover {
  color: rgb(10, 112, 134);
}
