@font-face {
  font-family: "R1";
  src: url("./assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "R2";
  src: url("./assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "R3";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "R4";
  src: url("./assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "R5";
  src: url("./assets/fonts/Roboto-Thin.ttf");
}

@import "leaflet/dist/leaflet.css";
